VITE_SGIS_CONSUMER_KEY= 발급받은 SGIS 서비스 ID
VITE_SGIS_CONSUMER_SECRET= 발급받은 SGIS 서비스 SECRET
SGIS API 키 발급 링크: https://sgis.mods.go.kr/developer/html/openApi/api/map.html
혹은 국가 데이터처 SGIS 지도 API로 검색하여 발급받아 사용

VITE_OPENWEATHER_API_KEY= 발급받은 Open Weather API 키
Open Weather API 키 발급 링크: https://home.openweathermap.org/api_keys

